.section-9 {
  margin-top: 200px;
  margin-bottom: 200px;
  .photos {
    .photo-list {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      .air-section-9-img-1 {
        background-image: url(../images/AirXgalleryImg01.png);
      }
      .air-section-9-img-2 {
        background-image: url(../images/AirXgalleryImg02.png);
      }
      .air-section-9-img-3 {
        background-image: url(../images/AirXgalleryImg03.png);
      }
      .air-section-9-img-4 {
        background-image: url(../images/AirXgalleryImg04.png);
      }

      .lexo-section-9-img-1 {
        background-image: url(../images/lezo-x/lexo-section-9-img-1.png);
      }
      .lexo-section-9-img-2 {
        background-image: url(../images/lezo-x/lexo-section-9-img-2.png);
      }
      .lexo-section-9-img-3 {
        background-image: url(../images/lezo-x/lexo-section-9-img-3.png);
      }
      .lexo-section-9-img-4 {
        background-image: url(../images/lezo-x/lexo-section-9-img-4.png);
      }

      .gravity-section-9-img-1 {
        background-image: url(../images/gravity-9/gravity-section-9-img-1.png);
      }
      .gravity-section-9-img-2 {
        background-image: url(../images/gravity-9/gravity-section-9-img-2.png);
      }
      .gravity-section-9-img-3 {
        background-image: url(../images/gravity-9/gravity-section-9-img-3.png);
      }
      .gravity-section-9-img-4 {
        background-image: url(../images/gravity-9/gravity-section-9-img-4.png);
      }

      .img1,
      .img2,
      .img3,
      .img4 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: calc(50% - 16px);
        height: 277px;
      }
    }
  }
}

.section-10 {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: 768px) {
    height: 400px;
  }
}

.air-section-10-img {
  background-image: url(../images/background-image-footer.png);
}

.lexo-section-10-img {
  background-image: url(../images/lezo-x/lexo-section-10-img.png);
}

.gravity-section-10-img {
  background-image: url(../images/gravity-9/gravity-section-10-img.png);
}

.section-11 {
  margin-top: 110px;
  margin-bottom: 110px;

  div {
    width: 700px;

    p {
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 25px;
    }
  }
}
