.section-12 {
  height: 600px;
  .footer {
    .card {
      max-width: 380px;
      width: 100%;
      height: 540px;
      background-color: $primaryBackgroundColor;
      border: 0px;

      .air-footer-img-1 {
        background-image: url(../images/footer-brilliance-img.png);
      }
      .air-footer-img-2 {
        background-image: url(../images/footer-technology-img.png);
      }
      .air-footer-img-3 {
        background-image: url(../images/footer-style-img.png);
      }

      .lexo-gravity-footer-img-1 {
        background-image: url(../images/lexo-gravity-footer-img-1.png);
      }
      .lexo-gravity-footer-img-2 {
        background-image: url(../images/lexo-gravity-footer-img-2.png);
      }
      .lexo-gravity-footer-img-3 {
        background-image: url(../images/lexo-gravity-footer-img-3.png);
      }

      .footer-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 302px;
      }

      .description {
        padding: 30px 0px;
        h3 {
          font-size: 1.5rem;
          letter-spacing: 2px;
          margin-bottom: 30px;
        }
        p {
          font-size: 1rem;
          letter-spacing: 1px;
          line-height: 25px;
        }
      }
    }
  }
}
