.section-8 {
  background-color: black;
  height: 450px;

  .specifications {
    .car-img {
      background-image: url(../images/specifications.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      max-width: 550px;
      height: 350px;
      width: 100%;
    }
    .options {
      h3,
      p {
        letter-spacing: 2px;
      }
    }
  }
}

@media (max-width: 991px) {
  .section-8 {
    height: 400px;
    margin-top: 100px;
    .specifications {
      .car-img {
        display: none;
      }
    }
  }
}
